global
  log 127.0.0.1   local0
  log 127.0.0.1   local1 notice
  log /var/log/haproxy.log local0 debug
  #log loghost    local0 info
  maxconn 4096
  #chroot /usr/share/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

  debug
  #quiet
  stats socket /tmp/haproxy
  # load haproxy lua scripts
  load_lua /scripts/haproxy/rotator.lua
  load_lua /scripts/haproxy/throttle.lua

defaults
  log global
  mode http
  option httplog
  option dontlognull
  retries 3
  option redispatch
  maxconn 2000
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000

listen stats *:"${HAPROXY_STATS_PORT}"
  stats "${HAPROXY_STATS}"
  stats uri "${HAPROXY_STATS_URI}"
  stats hide-version
  stats auth "${HAPROXY_STATS_AUTH}"

frontend croxy
  bind *:"${CROXY_PORT}"
  http-request lua.throttle_request if { env(THROTTLE_ENABLED) eq 1 }
  use_backend %[lua.rotator_choose_backend] if { env(ROTATOR_ENABLED) eq 1 }
  default_backend fallback
  option http_proxy

backend fallback
  mode http
  retries 3
  server
